<div layout-fill layout="column" layout-align="center center">
    <div layout="row" layout-align="center none">
        <md-card flex="50" class="loginCard">
          <md-card-title>
            <span>Login</span>
          </md-card-title>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="example-form">
              <md-form-field class="example-full-width">
                <input required mdInput placeholder="First name" name="first" ngModel #first="ngModel">
              </md-form-field>
              <md-form-field class="example-full-width">
                <input required mdInput placeholder="Last name" name="last" ngModel>
              </md-form-field>
              <md-form-field class="example-full-width">
                <input required mdInput placeholder="Email" name="email" ngModel>
              </md-form-field>
            <div>
              <button md-button type="submit">Submit</button>
            </div>
          </form>
      </md-card>
  </div>
</div>
